.container {
    text-align: center;
    padding: 20px;
  }
  
  .heading {
    color: blue;
  }
  
  .paragraph {
    font-size: 18px;
  }
  
  .button {
    margin: 5px;
    padding: 10px;
    background-color: lightblue;
    cursor: pointer;
  }
  
  .form {
    margin: 20px 0;
  }
  
  .input {
    padding: 8px;
    margin-right: 8px;
  }
  
  .submitButton {
    padding: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .pending-button {
    background-color: yellow; /* Change background color to yellow for pending buttons */
    color: black; /* Change text color to black */
  }
  
  .regular-button {
    background-color: #007bff;
    color: white;
  }
  